$c-orange: #ea692b;
$c-orange-lite: #ea692b60;
$c-grey: #d5dbe3;
$c-grey-lite: #d5dbe360;
$c-orangealt: #f16721;
$c-green-500: #4caf50;
$c-amber-700: #ffa000;
$c-red-900: #b71c1c;
:export {
  cOrange: $c-orange;
  cOrangeLite: $c-orange-lite;
  cGreyLite: $c-grey-lite;
  cGrey: $c-grey;
  cGreen: $c-green-500;
  cAmber: $c-amber-700;
  cRed: $c-red-900;
}
